@import "~antd/dist/antd.css";

* {
  margin: 0;
}
.App {
  text-align: center;
  background-color: #7f788f;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  /* border-bottom: 2px solid black; */
  width: 100%;
  margin: 0;
  /* background-color: #312450; */
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 1px 6px -2px #807f7f;
}

.dashboard-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  background-color: rgba(250, 250, 250, 0.541);
}

.helloCard-welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px -2px #807f7f;
  padding: 50px;
  margin-bottom: 10%;
}

.project-page-container {
  text-align: center;
  margin: 5%;
}

.loader-container {
  margin-top: 10%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.create-form-container {
  margin: 2% 10% 5% 10%;
}
