.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  border-bottom: 2px solid black;
}

.project-card-container {
  margin: 2%;
  border: 2px solid green;
}
