body {
    background-color:#3b3535;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    background-color: #3b3535;
    border: 2px solid #46e38f;
    box-shadow: 0px 1px 6px -2px #807f7f;
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 10px;
    padding: 14px;
    display: flex;
    flex-direction: row;

  }
  .project-card{
    border: 2px solid #46e38f;
    box-shadow: 0px 1px 6px -2px #807f7f;
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 10px;
    padding: 14px;
    display: flex;
    flex-direction: row;

  }


  button {
    border-radius: 4px;
  }
  